<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="HTML，CSS，RWD，前端，線上課程，網頁設計">

  <!-- Lato Font -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

  <!-- Roboto Font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="icon" href="assets/images/ANSWER.jpg" type="image/x-icon">
  <title><%- title %></title>
  <link rel="stylesheet" href="assets/style/all.css">
</head>

<body>

  <div class="container">
    <div class="row no-gutters">
      <div class="col-3">
        <section class="section__menu bg-secondary h-100">
          <h1 class="logo">ANSWER</h1>
          <ul class="navbar flex-direction--column align-items--start px-0">
            <a href="navbar__link" class="navbar__link ">
              <span class="material-icons mr-2">assessment </span> Dashboard
            </a>
            <a href="" class="navbar__link">
              <span class="material-icons mr-2"> question_answer </span> Question
            </a>
            <a href="" class="navbar__link">
              <span class="material-icons mr-2"> assignment </span> Assignment
            </a>
            <a href="" class="navbar__link">
              <span class="material-icons mr-2"> video_library </span> Course
            </a>
            <a href="" class="navbar__link">
              <span class="material-icons mr-2"> group </span> Admin
            </a>
            <a href="" class="navbar__link">
              <span class="material-icons mr-2"> settings </span> Settings
            </a>
          </ul>
          <footer class="d-flex">
            <img src="" alt="">
            <h2>Andy Chen <br> <small class="">@gmail.com</small> </h2>
          </footer>

        </section>
      </div>
      <div class="col-9">
        <nav class="navbar">

        </nav>
        <section class="section__content">

          <main>
            <%- contents %>
          </main>

        </section>
      </div>
    </div>
  </div>








  <script src="assets/js/vendors.js"></script>
  <script src="assets/js/all.js"></script>
</body>

</html>