// 瀏覽器可能為20px
html{
  font-size: 16px;
}

h1, .h1 {
  font-size: 24px;
}
h2, .h2 {
  font-size: 16px;  
}
h6, .h6{
  font-size: 12px;
  
}


h1, .h1,h2, .h2,h6, .h6{
  line-height: 1.5;
  font-weight: bold;
  
}
p{
  font-size: 14px;
  line-height: 1.5;
}

hr{
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
}

td{
  vertical-align: middle !important;
}
