
.form{
  &__reply{
    position: relative;
    &__inputGroup{
      position: absolute;
      right:24px;
      bottom: 16px;
    }
  }
}

.checkbox {
  display: none;
  &__label {
    cursor: pointer;
    &::before {
      content: "\2714";
      border: 2px solid #000;
      border-radius: 10%;
      display: inline-block;
      width: 27px;
      height: 15px;
      transform: translateY(3px);
      padding: 0px 0 22px 4px;
      margin-right: 4px;
      color: transparent;
    }
  }

  &:checked {
    + .checkbox__label::before {
     
      background-color: black;
      color: white;
    }
  }
}

