.logo {
  @include hidden-text(151px, 40px, url("../images/logo-ANSWER.svg"));
}

.navbar {
  &__menu{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 296px;
    
    &__user{
      position: absolute;
      bottom: 15px;
    }
    .active{
      color: map-get($theme-colors, primary);
    }
    
  }
  
  &__link {
    display: flex;
    align-items: center;
    color: black;
    padding: 15px 0;
    &:hover {
      color: map-get($theme-colors, primary);
      
    }
  }
  
  
  
}

