

/* 主容器 */
/* 主容器容器寬度 = 內容寬度 + 欄位間距 */
/* 1920px 意義為滿版 ; 設計稿內容寬度為 1200px ; 欄位間距為 24px */
.container {
  max-width: 1280px+$column-spacing*2;
  padding: 0 $column-spacing;
  margin: 0 auto;

}


/* 子容器 */

// row 排列子容器
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left:  -$column-spacing/2;
  margin-right: -$column-spacing/2;
  
  
}

// 每一欄 1/12 * 100%
// 間隔寬度 24px -> padding 0 12px;
@for $i from 1 through $columns{
  .col-#{$i}{
    /* 內容需要100%才能佔滿，內容可能不足以撐開 */
    width: 100%;
    padding: 0 $column-spacing/2;
    /* 取消 flex預設 */
    flex-basis: 0;
    flex-grow: 1;
    
    /* 佔 $i 欄寬度 */
    max-width:( $i / $columns)* 100%;
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 0 0 ($i/ $columns )* 100%;
    
  }
}

.no-gutters{
  margin-right: 0;
  margin-left: 0 ;
  > [class*="col-"]{
    padding-left: 0 ;
		padding-right: 0 ;
  }
	
}

	

