/* 背景與文字顏色 */
@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
/* text */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-italic {
  font-style: italic;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

/* display */
.d-block {
  display: block;
}
.d-none {
  display: none;
}
@include media-breakpoint-lg {
  .d-lg-block {
    display: block;
  }
  .d-lg-none {
    display: none;
  }
}
@include media-breakpoint-md {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}
@include media-breakpoint-sm {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
}

/* 框線參考用 */
.border-white {
  border: 1px solid #fff;
}
.border-dark {
  border: 1px solid black;
}
.border-dark--top {
  border-top: 1px solid black;
}
.border-top{
  border-top: 1px solid #DCDCDC;;
}
.border-right{
  border-right: 1px solid #DCDCDC;;
}
.border-bottom--none{
  border-bottom: none;
}

.list-style--none{
  list-style: none;
}
