.banner {
  // height: 840px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // @include media-breakpoint-sm {
  //   height: 394px;
  // }
  // &__index{
  //   background-image: url("../images/68.png");
  // }
  

}